<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My First Page{% endblock %}</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/bootstrap.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    
</body>
</html>
